<div class="block_content">
    <!-- @file modules\appagebuilder\views\templates\hook\ProductOwlCarousel -->
    <div class="row">
        <div id="carousel-2915560594" class="owl-carousel owl-theme product-list-default owl-loading">
                    {% for product in products [:7]%}
                            {% include '@SyliusShop/Product/_box.html.twig' %}
                    {% endfor %}
                    {#{% for product in products [:3]%}#}
                        {#{% if loop.index == 1 %}#}
                            {#<div class="owl-item active first">#}
                                {#<div class="item first">#}
                                    {#{% include '@SyliusShop/Product/_box.html.twig' %}#}
                                {#</div>#}
                            {#</div>#}
                        {#{% else %}#}
                            {#<div class="owl-item active">#}
                                {#<div class="item">#}
                                    {#{% include '@SyliusShop/Product/_box.html.twig' %}#}
                                {#</div>#}
                            {#</div>#}
                        {#{% endif %}#}
                        {#{% if loop.index == 3 %}#}
                            {#<div class="owl-item active last">#}
                                {#<div class="item">#}
                                    {#{% include '@SyliusShop/Product/_box.html.twig' %}#}
                                {#</div>#}
                            {#</div>#}
                        {#{% endif %}#}
                    {#{% endfor %}#}
                    {#{% for product in products [4:4]%}#}
                    {#<div class="owl-item">#}
                        {#<div class="item">#}
                            {#{% include '@SyliusShop/Product/_box.html.twig' %}#}
                        {#</div>#}
                    {#</div>#}
                    {#{% endfor %}#}
                {#</div>#}
            <div class="owl-controls clickable">
                <div class="owl-buttons"><div class="owl-prev">‹</div>
                <div class="owl-next">›</div>
                </div>
        </div>
        </div>

    </div>
<script type="text/javascript">
    ap_list_functions_loaded.push(function(){

        if($('#carousel-2915560594').parents('.tab-pane').length)
        {

            if(!$('#carousel-2915560594').parents('.tab-pane').hasClass('active'))
            {
                var width_owl_active_tab = $('#carousel-2915560594').parents('.tab-pane').siblings('.active').find('.owl-carousel').width();

                $('#carousel-2915560594').width(width_owl_active_tab);
            }
        }
        $('#carousel-2915560594').owlCarousel({
            items :             4,
            itemsDesktop :      [1200,4],
            itemsDesktopSmall : [992,3],
            itemsTablet :       [768,2],
            itemsMobile :       [576,1],
            itemsCustom :       false,
            singleItem :        false,       // true : show only 1 item
            itemsScaleUp :      false,
            slideSpeed :        200,        //  change speed when drag and drop a item
            paginationSpeed :   800,       // change speed when go next page
            autoPlay :          false,       // time to show each item
            stopOnHover :       false,
            navigation :        true,
            navigationText :    ["&lsaquo;", "&rsaquo;"],
            scrollPerPage :     false,
            pagination :        false,       // show bullist
            paginationNumbers : false,       // show number
            responsive :        true,
            responsiveRefreshRate : 0,
            lazyLoad :          false,
            lazyFollow :        false,       // true : go to page 7th and load all images page 1...7. false : go to page 7th and load only images of page 7th
            lazyEffect :        "fade",
            autoHeight :        false,
            mouseDrag :         true,
            touchDrag :         true,
            addClassActive :    true,
            direction:          false,
            afterInit: OwlLoaded,
            afterAction : SetOwlCarouselFirstLast,
        });
    });
    function OwlLoaded(el){
        el.removeClass('owl-loading').addClass('owl-loaded');
        if ($(el).parents('.tab-pane').length && !$(el).parents('.tab-pane').hasClass('active'))
            el.width('100%');
    };

</script>
</div>

