{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}


<div class="card cart-summary">
    <div class="cart-detailed-totals">
        <div class="card-block">
            {% for item in order.items %}
            <div class="cart-summary-line" id="cart-subtotal-products">
                <span class="label js-subtotal">
                    {{ item.quantity }}
              </span>
                <span class="value" id="sylius-item-{{ item.variant.product.slug }}-subtotal">{{ money.convertAndFormat(item.subtotal) }}</span>
            </div>

            <div class="cart-summary-line" id="cart-subtotal-shipping">
          <span class="label">
                          Shipping
                      </span>
                <span class="value">Free</span>
                <div><small class="value">
                        <a href="http://demo4leotheme.com/prestashop/leo_leblanc_demo/en/content/8-aeu-legal-shipping-and-payment" target="_blank">
                            (Under conditions)
                        </a></small></div>
            </div>
        </div>
        <hr>
        <div class="card-block">
            <div class="cart-summary-line cart-total">
                <span class="label">Total (tax excl.)</span>
                <span class="value">{{ money.convertAndFormat(item.subtotal) }}</span>
            </div>

            <div class="cart-summary-line">
                <small class="label">Taxes</small>
                <small class="value">$0.00</small>
            </div>
        </div>
        <hr>
        {% endfor %}

    </div>
</div>