<div class="block-category card card-block">
    <div class="category-cover">
        <img src="http://demo4leotheme.com/prestashop/leo_leblanc_demo/c/3-category_default/fashion.jpg" class="img-fluid" alt="">
    </div>
    <h1 class="h1 category-name">{{ taxon.name }}</h1>
    <div id="category-description" class="text-muted">
        {{ taxon.description }}
    </div>
</div>