<footer class="form-footer clearfix">
    <input type="hidden" name="submitAddress" value="1">
    <button type="submit" id="next-step" class="continue btn btn-primary pull-xs-right" name="confirm-addresses" value="1">
        {{ 'sylius.ui.next'|trans }}
    </button>
</footer>