<div class="checkout cart-detailed-actions card-block">
    <div class="text-xs-center">
        <a href="{{ path('sylius_shop_checkout_start') }}" class="btn btn-primary">{{ 'sylius.ui.checkout'|trans }}</a>
    </div>
</div>

