<div class="no-account">
    <a href="{{ path('sylius_shop_register') }}" data-link-action="display-register-form">
        {{ 'sylius.ui.new_customers'|trans }} - {{ 'sylius.ui.create_an_account'|trans }}    </a>
</div>