{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusUi/Form/theme.html.twig' %}

{% import '@SyliusUi/Macro/headers.html.twig' as headers %}
{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% set header = 'sylius.ui.your_shopping_cart' %}

{% block title %}{{ parent() }} | {{ header|trans }}{% endblock %}

{% block content %}


    {% include '@SyliusShop/Cart/Summary/_suggestions.html.twig' %}
    <div class="container">
        <div class="row">
            <div id="content-wrapper" class="col-lg-12 col-xs-12">
                <section id="main">
                    <div class="cart-grid row">
                        {% if not cart.empty %}
                            <div class="cart-grid-body col-xs-12 col-lg-8">
                                <div class="card cart-container">
                                    {% include '@SyliusShop/Cart/Summary/_header.html.twig' %}
                                    {% include '@SyliusShop/Cart/Summary/_items.html.twig' %}
                                </div>
                                <a class="btn btn-primary" href="http://demo4leotheme.com/prestashop/leo_leblanc_demo/en/">
                                    <i class="material-icons">chevron_left</i>
                                    Continue shopping
                                </a>
                            </div>
                            {% include '@SyliusShop/Cart/Summary/_totals.html.twig' %}
                        {% else %}

                        {% endif %}
                    </div>
                </section>
            </div>
        </div>
    </div>


{% endblock %}


{#<div class="container">#}
{#<div class="row">#}



{#<div id="content-wrapper" class="col-lg-12 col-xs-12">#}


{#<section id="main">#}
    {#<div class="cart-grid row">#}
        {#<!-- Left Block: cart product informations & shpping -->#}
        {#<div class="cart-grid-body col-xs-12 col-lg-8">#}
            {#<!-- cart products detailed -->#}
            {#<div class="card cart-container">#}
                {#<div class="card-block">#}
                    {#<h1 class="h1">Shopping Cart</h1>#}
                {#</div>#}
                {#<hr>#}



            {#</div>#}


            {#<a class="label" href="http://demo4leotheme.com/prestashop/leo_leblanc_demo/en/">#}
                {#<i class="material-icons">chevron_left</i>Continue shopping#}
            {#</a>#}


            {#<!-- shipping informations -->#}
            {#<div>#}

            {#</div>#}
        {#</div>#}

        {#<!-- Right Block: cart subtotal & cart total -->#}
        {#<div class="cart-grid-right col-xs-12 col-lg-4">#}
            {#<div class="card cart-summary">#}
                {#<div class="cart-detailed-totals">#}
                    {#<div class="card-block">#}
                        {#<div class="cart-summary-line" id="cart-subtotal-products">#}
          {#<span class="label js-subtotal">#}
                          {#0 items#}
                      {#</span>#}
                            {#<span class="value">$0.00</span>#}
                        {#</div>#}
                        {#<div class="cart-summary-line" id="cart-subtotal-shipping">#}
          {#<span class="label">#}
                          {#Shipping#}
                      {#</span>#}
                            {#<span class="value">Free</span>#}
                            {#<div><small class="value"></small></div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<hr>#}
                    {#<div class="card-block">#}
                        {#<div class="cart-summary-line cart-total">#}
                            {#<span class="label">Total (tax excl.)</span>#}
                            {#<span class="value">$0.00</span>#}
                        {#</div>#}

                        {#<div class="cart-summary-line">#}
                            {#<small class="label">Taxes</small>#}
                            {#<small class="value">$0.00</small>#}
                        {#</div>#}
                    {#</div>#}

                    {#<hr>#}
                {#</div>#}
                {#<div class="checkout text-xs-center card-block">#}
                    {#<button type="button" class="btn btn-primary disabled" disabled="">Checkout</button>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</section>#}


{#</div>#}



{#</div>#}
{#</div>#}